.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: bisque;
}

.email-form {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e9f0ff;
}

.email-form label {
    display: block;
    margin-bottom: 10px;
}

.email-form input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.email-form input[type="submit"] {
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color:  #4CAF50;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.email-form h2 {
    text-align: center;
    margin-top: 0;
}